<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display All Courses</title>
</head>
<body>
    <%- include('./partials/navbar', {session:session}) %> 
    <h1>Select course you want</h1>
    <h4>Your money: <%= money %></h4>
    <% if (session.role == '1') { %>
        <a href="/create_course">Add Course</a>
    <% } else if (session.role == '2') { %>
        <a href="/myCourse">My Course</a>
    <% } %>
    <form action="" method="get" style="margin: 10px 0">
        <input type="text" placeholder="search" name="search">
        <input type="submit" value="Search">
    </form>

    <table border="1 px">
        <thead>
            <th>name</th>
            <th>description</th>
            <th>duration</th>
            <th>price</th>
            <th>filePath</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% courses.forEach(el => { %>
                <tr>
                    <td><%= el.name %></td>
                    <td><%= el.description %></td>
                    <td><%= el.getEstimatedTime() %></td>
                    <td><%= el.getCurrency() %></td>
                    <td><%= el.filePath %></td>
                    <td>
                        <% if (session.role == '2') { %>
                            <a href="">Buy</a>
                        <% } %>
                        <a href="/course/<%= el.id %>">Read Detail</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</body>
</html>