<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display All Courses</title>
</head>
<body>
    <h1>Select course you want</h1>
    <a href="/create_course">Add Course</a>
    <form action="" method="get" style="margin: 10px 0">
        <input type="text" placeholder="search" name="search">
        <input type="submit" value="Search">
    </form>

    <table border="1 px">
        <thead>
            <th>name</th>
            <th>description</th>
            <th>duration</th>
            <th>price</th>
            <th>filePath</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% courses.forEach(el => { %>
                <tr>
                    <td><%= el.name %></td>
                    <td><%= el.description %></td>
                    <td><%= el.duration %></td>
                    <td><%= el.price %></td>
                    <td><%= el.filePath %></td>
                    <td>
                        <a href="">Buy</a>
                        <a href="/course/<%= el.id %>">Read Detail</a>
                        <a href="/course/<%= el.id %>/delete">Delete Course</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <h4>Your money: Rp. 150.000</h4>
    <form action="/uploads" enctype="multipart/form-data" method="post">
        <div class="form-group">
          <input type="file" class="form-control-file" name="uploaded_file">
          <input type="text" class="form-control" placeholder="Number of speakers" name="nspeakers">
          <input type="submit" value="Get me the stats!" class="btn btn-default">            
        </div>
      </form>
</body>
</html>