<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display All Courses</title>
</head>
<body>
    <h1>My Course</h1>

    <form action="/myCourse" method="get" style="margin: 10px 0">
        <input type="text" placeholder="Search" name="Search">
        <input type="submit" value="Find">
    </form>

    <table border="1 px">
        <thead>
            <th>Courses</th>
            <th>Description</th>
            <th>Estimated Duration</th>
            <th>Category</th>
            <th>Teacher</th>
            <th>Created</th>
            <th>Action</th>
        </thead>
        <tbody>
            <% courses.forEach(el => { %>
                <tr>
                    <td><%= el.name %></td>
                    <td><%= el.description %></td>
                    <td><%= el.getEstimatedTime() %></td>
                    <td><%= el.Category.name %></td>
                    <td><%= el.Teacher.name %></td>
                    <td><%= el.getFormattedDate() %></td>
                    <td>
                        <a href="/myCourse/<%= el.id %>">Read Detail</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <h4>Your money: Rp. 150.000</h4>
    <!-- <embed src="https://repository.dinus.ac.id/docs/bkd/Modul-Basic_English_Grammar.pdf" width="800px" height="2100px" /> -->
</body>
</html>