<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Course</title>
</head>
<body>
    <h1>Add New Course</h1>
    <form action="/course/<%= course.id %>/edit" method="post">
        <div>
            <label for="">Name Course</label> <br>
            <input type="text" name="nameCourse" value="<%= course.name %>">
        </div><br>
        <div>
            <label for="">Description</label> <br>
            <input type="text" name="descriptionCourse" value="<%= course.description %>">
        </div><br>
        <div>
            <label for="">Duration</label><br>
            <input type="number" name="durationCourse" value="<%= course.duration %>">
        </div><br>
        <div>
            <label for="">Price</label><br>
            <input type="number" name="priceCourse" value="<%= course.price %>">
        </div><br>
        <div>
        <div>
            <label for="">File Path</label><br>
            <input type="file" id="myFile" name="filename">
        </div><br>
        <div>
            <label for="">Category</label><br>
            <select name="CategoryId" id="category">
                <option value="" disabled selected>--Select--</option>
                <% categories.forEach(el => { %>
                    <option value="<%= el.id %>" <%= el.name == course.Category.name ? 'selected' : '' %>><%= el.name %></option>
                <% }) %>
            </select>
        </div><br>
        <div>
            <label for="">Teacher Id</label><br>
            <input type="number" name="Teacherid" id="" value="<%= course.Category.id %>">
        </div><br>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>